body{
    margin:0 ;
    height: 100hv;
    display: flex ;
    align-items: center ;
    justify-content: center;
    background-color: antiquewhite;
}

nav ul{
    list-style-type:none;
    margin: 0; 
    padding: 0; 
}

nav ul li{
    --c: goldenrod;
    color :var (--c);
    font-size: 16px ;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    -webkit-borer-radius : 0.5em;
    -moz-border-radius : 0.5em;
    -ms-broder-radius: 0.5em;
    -o-border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family:sans-serif;
    letter-spacing : 0.1em;
    text-align:center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    margin: 1em ;
}

nav ul li span {
    position:absolute;
    width:25%;
    height:100%;
    background-color: var(--c);
    transform:translateY(150%);
    -webkit-transform:translateY(150%);
    -moz-transform:translateY(150%);
    -ms-transform:translateY(150%);
    -o-transform:translateY(150%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: calc((var(--n) - 1)*25%);
    transition: 0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-tansition:0.5s;
    -o-transition:0.5s;
    transition-delay: calc((var(--n) - 1)*0.1s);
    z-index: -1;
}

nav ul li:hover {
    color:blue;
}

nav ul li :hover span{
    transform :translateY(0) scale(2);
    -webkit-transform:translateY(0) scale(2);
    -moz-transform:translateY(0) scale(2);
    -ms-transform:translateY(0) scale(2);
    -o-transform:translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

nav ul li span:nth-child(5) {
    --n: 5;
}

nav ul li span:nth-child(6) {
    --n: 6;
}